<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create chats</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" placeholder="who are you?" name="from" /><br />
        <textarea name="msg" id="" cols="15" rows="5">write your massage..</textarea><br/>
        <input type="text" name="to" placeholder=" add receiver"><br />
        <button>Ctreat chat</button>
    </form>
    
</body>
</html>